[submodule "models/MoECLIP"]
	path = models/MoECLIP
	url = https://github.com/aurora0543/MoECLIP.git
[submodule "models/anomaly_detection_for_textile_industry"]
	path = models/anomaly_detection_for_textile_industry
	url = https://github.com/aurora0543/anomaly_detection_for_textile_industry.git
[submodule "models/fabric-defect-detection"]
	path = models/fabric-defect-detection
	url = https://github.com/aurora0543/fabric-defect-detection.git
